run = "npm run dev -- --host 0.0.0.0 --port 3000"
entrypoint = "src/App.jsx"

[nix]
channel = "stable-24_05"

[deployment]
build = ["npm", "run", "build"]
deploymentTarget = "static"
publicDir = "dist"

[[ports]]
localPort = 3000
externalPort = 80
