modules = ["nodejs-20:v8-20230920-bd784b9"]

hidden = [".config", ".git", "node_modules"]

run = "npm run dev -- --host 0.0.0.0 --port 3000"
entrypoint = "src/App.jsx"

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "npm run build"]
deploymentTarget = "static"
publicDir = "dist"

[[ports]]
localPort = 3000
externalPort = 80
